body
{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    overflow-x: hidden;
    position: relative;
}
.container
{
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding: 2em 4em;
}
.movieCard
{   
    width: 15.5em;
    margin-top: 2em;
    /* background-color: rgb(244, 222, 222); */
    min-height: 20vh;
    /* height: 65vh; */
    background-color: #fff;
    margin: 2em 0.5em 2em 0.5em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.poster
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 15.5em;
    min-height:22.5em; 
    /* height: auto; */
}
.overview
{
    display: flex;
    flex-direction: column;
}
.row1
{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    height: 1.5em;
    margin-bottom: 1.2em;
}
.row2
{
    padding-top: 0.5em;
}
.title
{
    font-size: 0.9em;
    font-weight: bold;
    width: 75%;
    color: rgb(53, 164, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.star
{
    height: 0.9em;
}
.rating
{
    font-size: 0.8em;
    font-weight: bold;
    position: relative;
    left: 0.2em;
    bottom: 0.2em;
    color: rgb(53, 164, 243);
    
}
.desc
{
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: black;
    /* // Addition lines for 2 line or multiline ellipsis */
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-right: 1em;
    margin-block-start: 0;
    min-height: 2.2em;
}


.previous,.next
{
    width: 2em;
    position: absolute;
}
.previous
{
    bottom:  0;
    left: 40%;
}
.next
{
    bottom: 0;
    right: 40%;
}